.loading-screen {
    position: fixed;
    inset: 0; // makes it top: 0, bottom: 0, left: 0, right: 0
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    // z-index: 9999;
}
.loading {
    width: 80px;
    display: flex;
    flex-wrap: wrap;
    animation: rotate 3s cubic-bezier(0.76, 0.38, 0.19, 0.66) infinite;

    & span {
        width: 32px;
        height: 32px;
        margin: 4px;
        animation: scale 1.5s linear infinite;
    }

    & span:nth-child(1) {
        border-radius: 50% 50% 0 50%;

        background-color: #7751df;

        transform-origin: bottom right;
    }

    & span:nth-child(2) {
        border-radius: 50% 50% 50% 0;
        background-color: #e6723d;
        transform-origin: bottom left;
        animation-delay: 0.5s;
    }

    & span:nth-child(3) {
        border-radius: 50% 0 50% 50%;
        background-color: #cf5781;
        transform-origin: top right;
        animation-delay: 1.5s;
    }

    & span:nth-child(4) {
        border-radius: 0 50% 50% 50%;
        background-color: #f5b733;
        transform-origin: top left;
        animation-delay: 1s;
    }
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes scale {
    50% {
        transform: scale(1.2);
    }
}