*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    overflow: hidden;
}

main {
    position: relative; // needed for overlay positioning
    // margin: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* don't stretch, let columns be their natural height */
    height: 100vh;
    gap: 1.3em;
    /* fill the full viewport */
    overflow: hidden;
    -webkit-box-reflect: below 0 linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 85%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 85%);
}

main>div {
    display: flex;
    justify-content: center;
    flex: 1;
    // margin-inline: 0.20em;
    overflow: hidden;
    height: 100%;
    /* fill the full main height */
}

.inner {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

img {
    height: 23.5vw;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 15px;
    display: block;
    /* prevents inline baseline gap */
}

main {
    position: relative; 
    max-width : 100vw;
    overflow: hidden;
  }
  
  .moving-image__overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    pointer-events: none;
  
    > * {
      pointer-events: auto;
    }
  }


// .moving-image__overlay {
//     position: absolute;
//     inset: 0;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     z-index: 10;
//     pointer-events: none; // lets clicks pass through to bg

//     // Re-enable pointer events on the actual content inside
//     >* {
//         pointer-events: auto;
//     }
// }